# Project exclude paths
/*/target/
/login/target/classes/4885924_mingweb.fun.pfx
/login/target/docker/4885924_mingweb.fun.pfx
/teacher/target/classes/4885924_mingweb.fun.pfx
/teacher/target/docker/4885924_mingweb.fun.pfx
