<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.mapper.StudentMapper">
    <select id="selectStudent" resultMap="Student" parameterType="graduation.project.pojo.vo.StudentVo">
        SELECT
        student.student_id,
        student.username,
        student.student_name,
        student.native_place,
        student.class_id,
        student.dorm_id,
        student.parents_phone,
        dorm.dorm_id,
        dorm.dorm_area_id,
        dorm.dorm_num,
        class_table.class_table_id,
        class_table.specialty_id,
        class_table.class_table_name,
        class_table.is_graduate,
        specialty.specialty_id,
        specialty.college_id,
        specialty.specialty_name,
        college.college_id,
        college.college_name,
        dorm_area.dorm_area_id,
        dorm_area.dorm_area_name
        FROM
        (((((
        student
        LEFT JOIN dorm ON student.dorm_id = dorm.dorm_id
        )JOIN dorm_area on dorm.dorm_area_id=dorm_area.dorm_area_id)
        JOIN class_table ON student.class_id = class_table.class_table_id
        )
        JOIN specialty ON class_table.specialty_id = specialty.specialty_id
        )
        JOIN college ON specialty.college_id = college.college_id)
        <where>
            <if test="classTableId!=null and classTableId !=0">
                and class_table_id = #{classTableId}
            </if>
            <if test="dormId!=null and dormId !=0">
                and dorm_id = #{dormId}
            </if>
            <if test="collegeId!=null and collegeId !=0">
                and college.college_id = #{collegeId}
            </if>
            <if test="specialtyId!=null and specialtyId!=0">
                and class_table.specialty_id = #{specialtyId}
            </if>
            <if test="username!=null and username!=0">
                and username = #{username}
            </if>
        </where>
    </select>
    <select id="selectStudentByUsername" resultMap="Student" parameterType="string">
        SELECT
        student.student_id,
        student.username,
        student.student_name,
        student.native_place,
        student.parents_phone,
        dorm.dorm_id,
        dorm.dorm_area_id,
        dorm.dorm_num,
        dorm_area.dorm_area_id,
        dorm_area.dorm_area_name,
        class_table.class_table_id,
        class_table.specialty_id,
        class_table.class_table_name,
        class_table.is_graduate,
        specialty.specialty_id,
        specialty.college_id,
        specialty.specialty_name,
        college.college_id,
        college.college_name,
        account.phone
        FROM
        (((((
        student
        LEFT JOIN dorm ON student.dorm_id = dorm.dorm_id
        )LEFT JOIN dorm_area on dorm.dorm_area_id=dorm_area.dorm_area_id)
        LEFT JOIN class_table ON student.class_id = class_table.class_table_id
        )
        LEFT JOIN specialty ON class_table.specialty_id = specialty.specialty_id
        )
        LEFT JOIN college ON specialty.college_id = college.college_id)
        LEFT JOIN account on account.username=student.username
        where student.username=#{username}
    </select>
    <resultMap id="Student" type="graduation.project.pojo.vo.StudentVo">
        <result column="student_id" property="studentId"/>
        <result column="username" property="username"/>
        <result column="student_name" property="studentName"/>
        <result column="native_place" property="nativePlace"/>
        <result column="class_table_id" property="classTableId"/>
        <result column="class_table_name" property="classTableName"/>
        <result column="is_graduate" property="isGraduate"/>
        <result column="specialty_id" property="specialtyId"/>
        <result column="specialty_name" property="specialtyName"/>
        <result column="college_id" property="collegeId"/>
        <result column="college_name" property="collegeName"/>
        <result column="dorm_id" property="dormId"/>
        <result column="dorm_area_id" property="dormAreaId"/>
        <result column="dorm_num" property="dormNum"/>
        <result column="dorm_area_name" property="dormAreaName"/>
        <result column="parents_phone" property="parentsPhone"/>
        <result column="phone" property="phone"/>
    </resultMap>
</mapper>
